<h1>
  <%= @venue.name %> 
</h1>
<br>
<br>
<br>
<br>
<br>

日付
キックオフ
プール
試合
<% @matches.each do |match| %> 
  <li>
    <%= match.date  %> 
    <%= match.time %>
    <%= match.pool %>
    
    <%= link_to Country.find(match.country_id).name, country_path(Country.find(match.country_id)) %>
    vs
    <%= link_to Country.find(match.opponent_id).name, country_path(Country.find(match.opponent_id)) %>
  </li>
<% end %>

<br>
<br>
<br>

<%= @venue.address %>